$nav-color:#373737;
$btn1-color:#717CFF;
$btn1-text-color:#505050;
$header1-color:#2F2F2F;
$header2-color:#37474F;
$header3-color:#252525;
$paragraph-color:#7D7D7D;
$news-date-color: #565656;
$white-color:#FFFFFF;
$bg-color:#FAFAFA;
$box-color:rgba(55, 71, 79, 0.721569);
