@font-face {
    font-family:'Helvetica';
    src:url(../font/Helvetica.ttf);
}
$helvetica-font1:'Helvetica';
@font-face {
    font-family:'Helvetica2';
    src:url(../font/HelveticaLTStd-BlkCond.otf);
}
$helvetica-font2:'Helvetica2';
@font-face {
    font-family:'Helvetica3';
    src:url(../font/HelveticaLTStd-BlkCondObl.otf);
}
$helvetica-font3:'Helvetica3';